.home-page {
  object-fit: cover;
  margin: 0;
  width: 100% !important;
  background-image: url("../Asset/hero-image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 170px;
  padding-bottom: 170px;
}
.slider{
  display: none;
}
.homeSelectMain{
width: 50%;
margin: auto;
}
.carousel-control-prev {
  width: 40px !important;
}
.carousel-control-next,
.carousel-control-prev {
  width: 40px !important;
}
.TextField-without-border-radius{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-right: 2px solid lightgray ;
}
.fieldIcon{
  position: relative;
  left: -5px;
}
.TextField-without-border-radius fieldset {
  border: none ;
  outline: none ;
  border-radius: 0;
}
.slider-range {
  width: 65% !important;
}
.home-page-div {
  width: 100% !important;
  /* height: 100px; */
  background-color: #eeeeee;
  /* margin-left: 200px; */
  border-radius: 5px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 28px 24px;
}
.carousal-img{
  object-fit: cover;
  width: 100% !important;
  background-image: url("../Asset/hero-CardBgImg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 250px;
  padding-bottom: 250px;
  /* height: vh; */
}

.get-in-touch {
  object-fit: cover;
  margin: 0;
  width: 100% !important;
  background-image: url("../Asset/bald-mechanic-car-fixing.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  overflow: hidden;
  height: auto !important;
  display: flex;
  padding-top: 10vw;
  padding-bottom: 10vw;
  align-items: center;
  padding-left: 5%;
  /* padding: 100px 108px; */
}
.get-in-touch-form {
  width: 600px;
  height: 550px;
  background-color: white;
  margin-left: 100px;
  margin-top: 100px;
}
.circle-icon {
  margin-left: -30px !important;
  margin-top: 35px;
  background-color: black;
}
.slider {
  width: 100% !important;
  /* height:100px; */
  background-color: white;
  /* margin-left: 200px; */
  margin: 0px auto !important;
}


@media only screen and (max-width: 1900px) {
  .homeSelectMain{
  width: 60%;
  margin: auto;
  }
}

@media only screen and (max-width: 1800px) {
  .carousal-img {
    padding-top: 200px;
    padding-bottom: 200px;
}
}

@media only screen and (max-width: 1600px) {
  .homeSelectMain{
  width: 70%;
  margin: auto;
  }
}

@media only screen and (max-width: 1300px) {
  .homeSelectMain{
  width: 85%;
  margin: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .homeSelectMain{
  width: 95%;
  margin: auto;
  }
}

@media only screen and (max-width: 1199px) {
  .carousal-img {
    padding-top: 170px;
    padding-bottom: 170px;
}
}

@media only screen and (max-width: 1024px) {
  .home-section-1 {
    width: 230px !important;
    margin-left: 15px !important;
  }

  .home-section-2 {
    width: 230px !important;
    margin-left: 10px !important;
  }
  .home-section-3 {
    width: 230px !important;
    margin-left: 10px !important;
  }
  .home-section-4 {
    width: 230px !important;
    margin-left: 10px !important;
  }
  .home-section-5 {
    width: 230px !important;
    margin-left: 10px !important;
  }
  .home-paragraph {
    font-size: 14px !important;
  }
  .home-section-6 {
    width: 230px !important;
    margin-left: 10px !important;
  }
  .home-section-7 {
    width: 230px !important;
    margin-left: 10px !important;
  }
  .home-section-8 {
    width: 230px !important;
    margin-left: 10px !important;
  }
  .home-section-9 {
    width: 230px !important;
    margin-left: 10px !important;
  }
  .home-section-10 {
    width: 230px !important;
    margin-left: 10px !important;
  }
  .home-img {
    margin-left: 80px !important;
  }
  .home-page-div {
    width: 100%;
    /* height: 100px; */
    background-color: #eeeeee;
    margin-top: 150px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .slider {
    width: 70%;
    /* height: 100px; */
    background-color: white;
    /* margin-left: 130px; */
  }
  .slider-range {
    width: 60% !important;
  }
}

@media only screen and (max-width:959px) {
  .get-in-touch{
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center !important;
    align-items: center;
    flex-direction: column;
  }
  .searchBtn{
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 899px) {
  .carousal-img {
    padding-top: 120px;
    padding-bottom: 120px;
}
}

@media only screen and (max-width: 768px) {
  .slider-range {
    width: 50% !important;
  }
  .get-in-touch {
    /* padding: 65px 0px; */
  }
  .home-textfield {
    display: flex !important;
    flex-direction: column !important;
  }
  .home-page {
    padding-bottom: 40px;
  }
  .home-page-div {
    width: 100%;
    /* height: 300px; */
  }
  .home-textfield1 {
    margin-left: 35px !important;
  }
  .home-textfield2 {
    margin-left: 50px !important;
  }
  .home-textfield3 {
    margin-left: 60px !important;
  }
  .home-btn-submit {
    margin-left: 50px !important;
    width: 80% !important;
  }
  .home-page {
    min-height: 600px !important;
  }
  .home-section-1 {
    width: 280px !important;
    margin-left: 80px !important;
  }

  .home-section-2 {
    width: 280px !important;
    margin-left: 50px !important;
  }
  .home-section-3 {
    width: 280px !important;
    margin-left: 80px !important;
    margin-top: 20px !important;
    margin-bottom: 50px !important;
  }
  .home-section-4 {
    width: 280px !important;
    margin-left: 50px !important;
    margin-top: 20px !important;
    margin-bottom: 50px !important;
  }

  .home-section-11 {
    display: flex !important;
    flex-direction: row !important;
  }
  .home-section-12 {
    display: none !important;
  }
  .home-section-13 {
    display: flex !important;
    flex-direction: row !important;
  }

  .get-in-touch-form {
    margin-left: 85px;
  }
  .home-section-5 {
    width: 240px !important;
    margin-left: 15px !important;
  }
  .home-section-6 {
    width: 240px !important;
    margin-left: 10px !important;
  }
  .home-section-7 {
    width: 240px !important;
    margin-left: 10px !important;
  }
  .home-section-8 {
    width: 240px !important;
    margin-left: 15px !important;
    margin-top: 50px !important;
    margin-bottom: 30px !important;
  }
  .home-section-9 {
    width: 240px !important;
    margin-left: 10px !important;
    margin-top: 50px !important;
  }
  .home-section-10 {
    width: 240px !important;
    margin-left: 10px !important;
    margin-top: 50px !important;
  }
}

@media only screen and (max-width: 599px) {
  .homeSelectMain{
  width: 70%;
  }
}

@media only screen and (max-width: 425px) {
  .slider-range {
    width: 22% !important;
  }
  .slider {
    width: 70%;
    /* height: 100px; */
    background-color: white;
    margin-left: 65px;
  }
  .home-page-div {
    width: 100%;
    /* height: 100px; */
    background-color: #eeeeee;
    margin-top: 130px;
    margin-left: 80px;
    flex-wrap: wrap !important;
  }

  .get-in-touch-form {
    width: 300px;
    height: 550px;
    background-color: white;
    margin-left: 65px;
    margin-top: 100px;
  }
  .get-in-touch-textfield {
    margin-left: 35px !important;
  }
  .btn-get-in-touch {
    margin-left: 35px !important;
  }
  .home-section-11 {
    display: flex !important;
    flex-direction: column !important;
  }
  .home-section-13 {
    display: flex !important;
    flex-direction: column !important;
  }
  .home-page-div {
    width: 100%;
    /* height: 300px; */

    margin-left: 65px;
  }
  .home-textfield1 {
    margin-left: 12px !important;
  }
  .home-textfield2 {
    margin-left: 25px !important;
  }
  .home-textfield3 {
    margin-left: 40px !important;
  }
  .home-btn-submit {
    margin-left: 30px !important;
    width: 80% !important;
    margin-top: 15px !important;
  }
  .home-section-5 {
    width: 240px !important;
    margin-left: 95px !important;
  }
  .home-section-6 {
    width: 240px !important;
    margin-left: 95px !important;
    margin-top: 50px !important;
  }
  .home-section-7 {
    width: 240px !important;
    margin-left: 95px !important;
    margin-top: 50px !important;
  }
  .home-section-8 {
    width: 240px !important;
    margin-left: 95px !important;
  }
  .home-section-9 {
    width: 240px !important;
    margin-left: 95px !important;
    margin-top: 20px !important;
  }
  .home-section-10 {
    width: 240px !important;
    margin-left: 95px !important;
    margin-bottom: 30px !important;
  }
  .home-section-1 {
    width: 280px !important;
    margin-left: 70px !important;
  }
  .home-section-2 {
    width: 280px !important;
    margin-left: 70px !important;
    margin-top: -40px !important;
  }
  .home-section-3 {
    width: 280px !important;
    margin-left: 70px !important;
    margin-top: 60px !important;
  }
  .home-section-4 {
    width: 280px !important;
    margin-left: 70px !important;
    margin-top: 10px !important;
  }
}

@media only screen and (max-width: 599px) {
  .homeSelectMain{
  width: 80%;
  }
.TextField-without-border-radius{
  border: 1px solid #eeeeee;
}
}

@media only screen and (max-width: 375px) {
  .home-page-div {
    margin-left: 55px;
  }
  .slider {
    margin-left: 55px;
  }
  .slider-range {
    width: 20% !important;
  }
  .home-section-1 {
    margin-left: 50px !important;
  }
  .home-section-2 {
    margin-left: 50px !important;
  }
  .home-section-3 {
    margin-left: 50px !important;
  }
  .home-section-4 {
    margin-left: 50px !important;
  }
  .get-in-touch-form {
    margin-left: 40px;
  }
  .home-section-5 {
    width: 240px !important;
    margin-left: 65px !important;
  }
  .home-section-6 {
    width: 240px !important;
    margin-left: 65px !important;
  }
  .home-section-7 {
    width: 240px !important;
    margin-left: 65px !important;
  }
  .home-section-8 {
    width: 240px !important;
    margin-left: 65px !important;
  }
  .home-section-9 {
    width: 240px !important;
    margin-left: 65px !important;
  }
  .home-section-10 {
    width: 240px !important;
    margin-left: 65px !important;
  }
}
@media only screen and (max-width: 375px) {
  .home-page-div {
    margin-left: 55px;
  }
  .slider {
    margin-left: 55px;
  }
  .slider-range {
    width: 16% !important;
  }
  .get-in-touch-form {
    margin-left: 40px;
  }
  .home-section-1 {
    margin-left: 45px !important;
  }
  .home-section-2 {
    margin-left: 45px !important;
  }
  .home-section-3 {
    margin-left: 45px !important;
  }
  .home-section-4 {
    margin-left: 45px !important;
  }
  .home-section-5 {
    width: 240px !important;
    margin-left: 70px !important;
  }
  .home-section-6 {
    width: 240px !important;
    margin-left: 70px !important;
  }
  .home-section-7 {
    width: 240px !important;
    margin-left: 70px !important;
  }
  .home-section-8 {
    width: 240px !important;
    margin-left: 70px !important;
  }
  .home-section-9 {
    width: 240px !important;
    margin-left: 70px !important;
  }
  .home-section-10 {
    width: 240px !important;
    margin-left: 70px !important;
  }
  .near-by-heading {
    font-size: 24px !important;
  }
}
@media only screen and (max-width: 320px) {
  .home-page-div {
    margin-left: 50px;
  }
  .near-by-heading {
    font-size: 18px !important;
    margin-top: 8px !important;
  }
  .slider {
    margin-left: 50px;
  }
  .home-textfield1 {
    margin-left: 5px !important;
  }
  .home-textfield2 {
    margin-left: 20px !important;
  }
  .home-textfield3 {
    margin-left: 32px !important;
  }
  .home-btn-submit {
    margin-left: 25px !important;
  }
  .home-section-1 {
    margin-left: 20px !important;
  }
  .home-section-2 {
    margin-left: 20px !important;
  }
  .home-section-3 {
    margin-left: 20px !important;
  }
  .home-section-4 {
    margin-left: 20px !important;
  }
  .home-section-5 {
    width: 240px !important;
    margin-left: 40px !important;
  }
  .home-section-6 {
    width: 240px !important;
    margin-left: 40px !important;
  }
  .home-section-7 {
    width: 240px !important;
    margin-left: 40px !important;
  }
  .home-section-8 {
    width: 240px !important;
    margin-left: 40px !important;
  }
  .home-section-9 {
    width: 240px !important;
    margin-left: 40px !important;
  }
  .home-section-10 {
    width: 240px !important;
    margin-left: 40px !important;
  }
  .get-in-touch-form {
    margin-left: 10px;
  }
}
