.modalImages{
    width: 30px;
    height: 30px;
}
.modalTypes{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.forwardArrow{
    font-size: 30px;
}
.modalHr{
    margin-top: 0px;
    margin-bottom: 0px;
}
.modalTitle{
    font-size: 14px;
    margin-left: 5px;
}
.btnMain{
display: flex;
justify-content: center;
}

@media only screen and (max-width:899px){
    .modalBtn{
        width: 150px !important;
    }
}